**/venv/*
.jupyter_cache/__version__.txt
.jupyter_cache/global.db
.jupyter_cache/executed/3d44dcd43207c9147c3c47e9a8079a4c/base.ipynb
.jupyter_cache/executed/442c3394c08fe697250e89aaba3cec0d/base.ipynb
.jupyter_cache/executed/9c3386b1440f380ebe9a945a7c379ee1/base.ipynb
.jupyter_cache/executed/b5b561571ad34999871eba5bd67d00ff/base.ipynb
.jupyter_cache/executed/ddddae818508974a4fab450c577c7784/base.ipynb
intro_2_polars_files/libs/bootstrap/bootstrap-icons.css
intro_2_polars_files/libs/bootstrap/bootstrap-icons.woff
intro_2_polars_files/libs/bootstrap/bootstrap.min.css
intro_2_polars_files/libs/bootstrap/bootstrap.min.js
intro_2_polars_files/libs/clipboard/clipboard.min.js
intro_2_polars_files/libs/quarto-html/anchor.min.js
intro_2_polars_files/libs/quarto-html/popper.min.js
intro_2_polars_files/libs/quarto-html/quarto-syntax-highlighting.css
intro_2_polars_files/libs/quarto-html/quarto.js
intro_2_polars_files/libs/quarto-html/tippy.css
intro_2_polars_files/libs/quarto-html/tippy.umd.min.js
polars_to_preview_files/libs/bootstrap/bootstrap-icons.css
polars_to_preview_files/libs/bootstrap/bootstrap-icons.woff
polars_to_preview_files/libs/bootstrap/bootstrap.min.css
polars_to_preview_files/libs/bootstrap/bootstrap.min.js
polars_to_preview_files/libs/clipboard/clipboard.min.js
polars_to_preview_files/libs/quarto-html/anchor.min.js
polars_to_preview_files/libs/quarto-html/popper.min.js
polars_to_preview_files/libs/quarto-html/quarto-syntax-highlighting.css
polars_to_preview_files/libs/quarto-html/quarto.js
polars_to_preview_files/libs/quarto-html/tippy.css
polars_to_preview_files/libs/quarto-html/tippy.umd.min.js
